.home {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  &-title{
    margin: 20px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(201, 57, 69);
  }
  &-description {
    margin-bottom: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 46, 49);
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

    &-list {
      padding: 0;
      list-style: none;
      text-align: left;

      &-item {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(53, 46, 49);
        line-height: 30px;
      }
      &-item:hover {
        color: rgb(17, 16, 17);
        font-weight: 600;
        background-color: rgb(209, 207, 207);
        cursor: pointer;
      }
    }
    &-details {
      flex-basis: 65%;
    }
  }
}